
.header-sidebar{
  height: 75px;
  border-bottom: 1px solid #515f67;
  font-size: 18px;
}

ul.sidebar-menu {
  max-width: 235px;
  list-style-type: none;
  min-width: 235px;
  padding-left: 1rem;
  vertical-align: middle;
  padding-top: 2rem;
  padding-right: 0.5rem;
  i {
    vertical-align: -6px; /*Change this to adjust the icon*/
  }

  li {
    font-size: 15px;
    padding-left: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 1rem 0rem 0rem 1rem;
    i {
      padding-right: 0.6rem;
    }
    i.icon-expand {
      float: right;
    }
    &:focus {
      outline: 0;
    }
    &:hover{
      background-color:#515f678a ;
      cursor: pointer;
    }
  }

  li.active{
    background-color:#515f67 ;
  }

  ul li {
    font-size: 13px;
    padding-top: 0.25rem;
    padding-bottom: 0.255rem;
    list-style-type: none;
  }
}

.sidebar-footer,
.sidebar-footer i {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: 12px;
  color: gray;
  position: absolute;
  bottom: 0;
}
