<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar
    [(opened)]="_opened"
    [dock]="activedock"
    [dockedSize]="'50px'"
    [mode]="_MODES[modeSideBar]"
  >
    <!-- <button class="form-control btn btn-danger" (click)="_toggleSidebar()">X</button> -->
    <ul class="sidebar-menu">
      <span class="hover-primary">
        <li class="active">
          <i class="material-icons-outlined"> home </i> Home
        </li>
      </span>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> store_mall_directory </i> Ventas
        </span>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> stacked_bar_chart </i> Reportes
        </span>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> sports_esports </i> Juegos
        </span>
      </li>
      <li>
        <span
          class="hover-primary"
          (click)="collapse.toggle(); toggleForChilds()"
          [attr.aria-expanded]="!isCollapsed1"
          aria-controls="collapseExample"
        >
          <i class="material-icons-outlined"> admin_panel_settings </i>
          Administración
          <i class="material-icons icon-expand">
            {{ isCollapsed1 ? "expand_more" : "expand_less" }}
          </i>
        </span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
          <ul>
            <li>
              <span class="hover-primary"> Usuarios </span>
            </li>
            <li>
              <span class="hover-primary"> Roles </span>
            </li>
            <li>
              <span class="hover-primary"> Permisos </span>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> rule_folder </i> Documentos
        </span>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> cloud_upload </i> Cargues
        </span>
      </li>
    </ul>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="container-fluid pl-5 pr-5 mt-5">
      <h2>Analytics</h2>
      <div class="row agm-box">
        <div class="col-3 border">TRESS</div>
        <div class="col-6 border">SEISS</div>
        <div class="col-2 border">DOSS</div>
        <div class="col-1 border">UNOOO</div>
      </div>
    </div>

    <!-- footer -->
    <div class="container-fluid">
      <div class="row agm-box w-75 " style="position: absolute; bottom: 0">
        <footer class="" >
          GOLAAASDAS
        </footer>
       </div>
    </div>
  </div>
</ng-sidebar-container>
