<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar
    [(opened)]="_opened"
    [dock]="activedock"
    [dockedSize]="'50px'"
    [mode]="_MODES[modeSideBar]"
  >
    <!-- <button class="form-control btn btn-danger" (click)="_toggleSidebar()">X</button> -->
    <ul class="sidebar-menu">
      <span class="hover-primary">
        <li routerLink="/home" routerLinkActive="active">
          <span class="hover-primary"  routerLinkActive="active">
            <i class="material-icons-outlined"> home </i> Home
          </span>
        </li>
      </span>
      <li  routerLink="/componentes" routerLinkActive="active">
        <span class="hover-primary"  routerLinkActive="active">
          <i class="material-icons-outlined"> workspaces </i> Componentes
        </span>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> integration_instructions </i> Ejercicios
        </span>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> sports_esports </i> Juegos
        </span>
      </li>
      <li>
        <span
          class="hover-primary"
          (click)="collapse.toggle(); toggleForChilds()"
          [attr.aria-expanded]="!isCollapsed1"
          aria-controls="collapseExample"
        >
          <i class="material-icons-outlined"> admin_panel_settings </i>
          Administración
          <i class="material-icons icon-expand">
            {{ isCollapsed1 ? "expand_more" : "expand_less" }}
          </i>
        </span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
          <ul>
            <li routerLink="/admin/usuarios" routerLinkActive="active">
              <span class="hover-primary"> Usuarios </span>
            </li>
            <li routerLink="/admin/roles" routerLinkActive="active">
              <span class="hover-primary"> Roles </span>
            </li>
            <li routerLink="/admin/permisos" routerLinkActive="active">
              <span class="hover-primary"> Permisos </span>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> rule_folder </i> Documentos
        </span>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> cloud_upload </i> Cargues
        </span>
      </li>
    </ul>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="container-fluid pl-5 pr-5 mt-3">

      <!-- BREADCRUMBS -->
      <app-breadcrumb></app-breadcrumb>

      <!-- RUTAS DEL CONTENIDO -->
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->



  </div>
</ng-sidebar-container>
