<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar
    [(opened)]="_opened"
    [dock]="activedock"
    [dockedSize]="'50px'"
    [mode]="_MODES[modeSideBar]"
  >
    <!-- <button class="form-control btn btn-danger" (click)="_toggleSidebar()">X</button> -->
    <div class="header-sidebar text-center pt-4">
      <span class="brand">
        <span class="brand-expand">AD</span>
        <span class="brand-expand-off">AGM-DEVELOP</span>
      </span>
    </div>
    <ul class="sidebar-menu">
        <li routerLink="/board/home" routerLinkActive="active">
          <span class=""  >
            <i class="material-icons-outlined"> home </i> Home
          </span>
        </li>
      <li  routerLink="/board/componentes" routerLinkActive="active">
        <span>
          <i class="material-icons-outlined"> workspaces </i> Componentes
        </span>
      </li>

      <li>
        <span
          (click)="collapse.toggle(); toggleForChilds()"
          [attr.aria-expanded]="!isCollapsed2"
          aria-controls="collapseExample">
          <i class="material-icons-outlined"> integration_instructions </i>
          Code Test
          <i class="material-icons icon-expand">
            {{ isCollapsed2 ? "expand_more" : "expand_less" }}
          </i>
        </span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
          <ul>
            <li routerLink="/board/dev/directivas" routerLinkActive="active">
              <span > Directivas </span>
            </li>
            <li routerLink="/board/dev/pipes" routerLinkActive="active">
              <span > Pipes </span>
            </li>
            <li routerLink="/board/dev/rxjs" routerLinkActive="active">
              <span > Rxjs </span>
            </li>
          </ul>
        </div>
      </li>


      <li >
        <span class="hover-primary" routerLinkActive="active">
          <i class="material-icons-outlined"> sports_esports </i> Juegos
        </span>
      </li>


      <li>
        <span
          class="hover-primary"
          (click)="collapse.toggle(); toggleForChilds()"
          [attr.aria-expanded]="!isCollapsed1"
          aria-controls="collapseExample"
        >
          <i class="material-icons-outlined"> admin_panel_settings </i>
          Administración
          <i class="material-icons icon-expand">
            {{ isCollapsed1 ? "expand_more" : "expand_less" }}
          </i>
        </span>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
          <ul>
            <li routerLink="/board/admin/usuarios" routerLinkActive="active">
              <span class="hover-primary"> Usuarios </span>
            </li>
            <li routerLink="/board/admin/roles" routerLinkActive="active">
              <span class="hover-primary"> Roles </span>
            </li>
            <li routerLink="/board/admin/permisos" routerLinkActive="active">
              <span class="hover-primary"> Permisos </span>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> rule_folder </i> Documentos
        </span>
      </li>
      <li>
        <span class="hover-primary">
          <i class="material-icons-outlined"> cloud_upload </i> Cargues
        </span>
      </li>
    </ul>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>

    <app-header></app-header>

    <div class="container-fluid pl-5 pr-5 mt-3 mb-5">

      <!-- BREADCRUMBS -->
      <app-breadcrumb></app-breadcrumb>

      <!-- RUTAS DEL CONTENIDO -->
      <!-- <router-outlet></router-outlet> -->
      <!-- SECTION RENDER -->
      <ng-content></ng-content>
      <br><br><br>
    </div>

    <!-- footer -->



  </div>
</ng-sidebar-container>
