/* You can add global styles to this file, and also import other style files */
@import "agm_custom";

.header-sidebar{
  height: 75px;
  border-bottom: 1px solid #037d92;
  font-size: 18px;
}

ul.sidebar-menu {
  max-width: 235px;
  list-style-type: none;
  min-width: 235px;
  padding-left: 1rem;
  vertical-align: middle;
  padding-top: 2rem;
  // padding-right: 0.5rem;
  i {
    vertical-align: -6px; /*Change this to adjust the icon*/
  }

  li {
    font-size: 15px;
    padding-left: 0.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 1rem 0rem 0rem 1rem;
    i {
      padding-right: 0.8rem;
    }
    i.icon-expand {
      float: right;
    }
    &:focus {
      outline: 0;
    }
    &:hover{
      background-color:#385269ee ;
      cursor: pointer;
      font-weight: 500;
    }
  }

  li.active{
    // background-color:#333363 ;
    background-color:#405e7a ;
    border-right: 0.2rem solid $primary;
  }

  ul li {
    font-size: 13px;
    padding-top: 0.35rem;
    padding-bottom: 0.255rem;
    list-style-type: none;
  }
  ul{
    padding-top: 1rem;
  }
}

.sidebar-footer,
.sidebar-footer i {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: 12px;
  color: gray;
  position: absolute;
  bottom: 0;
}

