.btn-toggle-sidebar {
  width: 50px;
}
nav.nav-agm {
  padding: 1rem 1rem 1rem 0rem;
}
img {
  margin-left: 0.5rem;
}
span.brand-tittle {
  font-size: 1.5rem;
  vertical-align: middle;
  font-weight: 500;
}

i.material-icons {
  vertical-align: -8px;
}

.user-account {
  float: right;
}

.blink-bell {
  font-size: 28px;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  15% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
}

button.btn-notifications {
  font-size: 18px;
  padding-right: 0;
}

.badge-notify{
  position: relative;
  top: -10px;
  left: -18px;
  padding-top: 0;
  padding-bottom: 0;
}
