.btn-toggle-sidebar {
  width: 50px;
}
nav.nav-agm {
  padding: 1rem 1rem 1rem 0rem;
}
img {
  margin-left: 0.5rem;
}
span.brand-tittle {
  font-size: 1.5rem;
  vertical-align: middle;
  font-weight: 500;
}
