<nav class="nav-agm agm-box-rect">
  <a
    class="btn btn-default btn-toggle-sidebar hover-primary"
    (click)="toggleSidebar()"
  >
    <i class="material-icons"> view_headline </i>
  </a>
  <!-- <span class="brand-tittle text-primary"> AGM-Develop </span> -->

  <div class="user-account">
    <button
      class="btn btn-default btn-lg btn-link btn-notifications"
    >
      <i
        class="
          d-none d-sm-inline d-xl-inline d-lg-inline d-md-inline
          material-icons
          text-primary
          hover-primary
          pr-2
        "
      >
        notifications
      </i>
    </button>
    <span
      class="
        badge badge-notify
        d-none d-sm-inline d-xl-inline d-lg-inline d-md-inline
        bg-danger
        text-white
      "
      >7</span
    >

    <div ngbDropdown class="d-inline-block"  #myDrop="ngbDropdown">
      <div class="d-inline">
        <img (click)="$event.stopPropagation(); myDrop.open();"
         aria-labelledby="dropdownBasic1"
          src="../../../../assets/images/avatar.png"
          class="avatar rounded-circle cursor-p"
          width="40"
          alt=""
        />
        <span
          id="dropdownBasic1"
          class="
            d-none d-sm-inline d-xl-inline d-lg-inline d-md-inline
            pl-2
            hover-primary
          "
          ngbDropdownToggle
        >
          {{ userFullName }}
        </span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Perfil</button>
          <button ngbDropdownItem>Configuración</button>
          <button ngbDropdownItem>Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</nav>
