<div class="container-fluid h-100 body-login">
  <div class="row align-items-center h-100">
    <div class="col-md-6 p-0 col-lg-8 d-none d-sm-none d-md-block d-xl-block d-lg-block h-100 mx-auto message-login-container">
      <div class="message-login-bgcolor">
        <div class="message-login">
          <h1>Bienvenido a AGM-APP</h1>
          <br>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel aliquid nulla sequi minus labore qui, esse sit dignissimos sunt! Voluptatibus, iure quibusdam ut architecto sit expedita dolor corporis tenetur quam. Debitis, quis!</p>
        </div>
      </div>
    </div>
    <div
      class="col-md-6 col-lg-4 col-sm-12 h-100"
      style="vertical-align: middle; display: table-cell"    >
      <div class="form-login-container p-1 pt-4 p-sm-4 p-lg-5 p-md-4">
        <h1 class="text-primary text-center">&#60;AGM/&#62;</h1>
         <br> <hr> <br>
         <h2 class="ml-3">
           Ingreso
         </h2>
         <div class="form-group p-3">
           <label for="">Correo electrónico:</label>
           <input type="text" class="form-control">
           <label for="">Contraseña:</label>
           <input type="text" class="form-control">
          <div class="pt-3">
            <input type="checkbox" class="custom-control-input"> <label for="" class="ml-3"> Recordarme</label>
          </div>
          <div class="pt-4 text-center">
            <button class="btn btn-lg btn-primary form-control">
              Ingresar
            </button>
          </div>
         </div>
         <div id="test">

        </div>
      </div>
    </div>
  </div>
</div>
