<div class="row">
  <h4 class="agm-page-tittle">
    Directivas
  </h4>
</div>
<div class="row agm-box">
  <div class="col-12 pt-4 pl-4 pb-2 pr-4">
    <b>Ng Style :</b>
    <br>
    <code >ngStyle="'font-size': '25px'"</code>
    <p [ngStyle]="{'font-size': '25px'}">
      Hello World
    </p>
    <code>[style.color]="'purple'" [style.fontSize.px]="27"</code>
    <p [style.color]="'purple'" [style.fontSize.px]="27">
      Hello World
    </p>
  </div>
  <div class="col-12 pt-4 pl-4 pb-2 pr-4">
    <b>Ng Class :</b>
    <br>
    <code >[ngClass]="alertClass"</code>
    <button class="btn btn-success ml-4" (click)="changeClass(true)"> S </button>
    <button class="btn btn-primary ml-4" (click)="changeClass(false)"> I </button>
    <div class="mt-3 alert" [ngClass]="alertClass">
      Hello World
    </div>
    <code> [ngClass]="'text-warning':texto.warning, 'text-muted':!texto.warning </code>
    <p [ngClass]="{'text-warning':texto.warning, 'text-muted':!texto.warning}">
      Hello World
    </p>
  </div>
</div>

