<div class="row mt-4">
  <h5 class="agm-page-section-titlle"># Blog de desarrollo</h5>
</div>
<div class="row agm-box pb-5 mb-5">
  <div class="col-md-8 offset-md-1 col-sm-12 col-xs-12 pt-4 pl-4 pb-2 pr-4">
    <h4 class="mt-4 mb-3">Histórico AGM</h4>
    <ul class="timeline">
      <li>
        <p class="text-primary">Inicio del proyecto.</p>
        <a href="#" onclick="return false;" class="float-right"
          >11 Julio, 2021</a
        >
        <p class="pt-2">
          Se inicia el proyecto con el fin de crear un template bonito y
          responsivo para futuros proyectos en Angular, se crea el repo en
          github, se añade ng-bootstrap, ng-sidebar y se elige el tipo de
          fuente.
        </p>
      </li>
      <li>
        <p class="text-primary">Módulos LazyLoad</p>
        <a href="#" onclick="return false;" class="float-right"
          >12 Julio, 2021</a
        >
        <p class="pt-2">
          Se agregan los módulos de Home y Admin con sus respectivos routings,
          siguiendo el estándar de carga peresoza.
        </p>
      </li>

      <li>
        <p class="text-primary">Dependencias xng-breadcrumb.</p>
        <a href="#" onclick="return false;" class="float-right"
          >12 Julio, 2021</a
        >
        <p class="pt-2">
          Se agrega la dependencia de <code>xng-breadcrumb</code> para tener
          migas de pan
        </p>
      </li>

      <li>
        <p class="text-primary">Módulo componentes.</p>
        <a href="#" onclick="return false;" class="float-right"
          >14 Julio, 2021</a
        >
        <p class="pt-2">
          Se crea el módulo de <a href="componentes">componentes</a> para
          colocar allí los componentes customizados que se han ido agregando a
          la aplicación, también se agrega
          <code>stylePreprocessorOptions</code> en angular.json para variables
          globales.
        </p>
      </li>

      <li>
        <p class="text-primary">Módulo componentes.</p>
        <a href="#" onclick="return false;" class="float-right"
          >16 Julio, 2021</a
        >
        <p class="pt-2">
          Se agregan alertas personalizadas, se hace uso de <code>ng-toast</code> para crear un servicio
          global de notificaciones mediante toast tanto en versión ligth como versión
          flat
        </p>
      </li>
    </ul>
  </div>
</div>
