$black: #212529;

// $primaryColor: #05b1c4;
// $primary: #0097A7;
// $primary-active: #07cfe6;
// $primaryBorder  : #19aaaf;


$primary: #23b996;
$primary-active: #23b996;
$primaryBorder  : #1fa183;


$greenBorders: #28a745;
$succesBackGround : rgb(67, 194, 55);

$redBorders:#ff4757;
$redColor: #ff4757;

$warnBorders:#ffba00;
$warnColor: #a27701;

$gray: #1e0f5e79;
