$black: #212529;

$primaryColor: #00BCD4;
$primary: #00BCD4;
$primaryBorder  : #19aaaf;


$greenBorders: #28a745;
$succesBackGround : rgb(67, 194, 55);

$redBorders:#ff4757;
$redColor: #ff4757;

$warnBorders:#ffba00;
$warnColor: #a27701;


