<div class="row pt-5">
  <div class="col col-xs-12">
    <div class="chart">
      <canvas baseChart
              [datasets]="chart_Data"
              [labels]="chart_Labels"
              [options]="chart_Options"
              [plugins]="chart_Plugins"
              [legend]="chart_Legend"
              [chartType]="chart_Type">
      </canvas>
    </div>
  </div>

  <div class="col col-xs-12">
    <div class="chart">
      <canvas baseChart
              [datasets]="chart_Data2"
              [labels]="chart_Labels2"
              [options]="chart_Options"
              [plugins]="chart_Plugins"
              [legend]="chart_Legend"
              [chartType]="chart_Type2">
      </canvas>
    </div>
  </div>
</div>
