<section class="page">
  <div class="row">
    <h4 class="agm-page-tittle">
      App by AGM-Develop
    </h4>
  </div>
  <div class="row agm-box">
    <div class="col-12 pt-4 pl-4 pb-2 pr-4">
      <b>
        Descripción:
      </b>
      <p class="pt-2">
        App/Template desarrollado al no encontrar templates bonitos basados en bootstrap, y los que hay están muy caros, así que yo mismo me lo voy a crear junnn.
      </p>
    </div>
    <div class="col-12 pl-4 pb-2 pr-4">
      <b>
        Dependencias:
      </b>
      <p class="pt-2">
        <li>
          ng-bootstrap <code class="pl-3">ng add @ng-bootstrap/ng-bootstrap</code>
        </li>
        <li>
          ng-sidebar <code class="pl-3">npm install --save ng-sidebar</code>
        </li>
        <li>
          xng-breadcrumb <code class="pl-3">npm install --save xng-breadcrumb</code>
        </li>
        <li>
          Charts <code class="pl-3">npm install chart.js@2.9.3 --save</code> <code class="pl-3">npm install ng2-charts@2.4.2 --save</code>
        </li>
      </p>
    </div>

  </div>



  <app-blog-time-line></app-blog-time-line>

</section>
