.lol {
  padding: 1rem;
  border-left-width: 0.15rem;
  border-left-style: solid;
  margin: 1rem 0;

  background-color: rgba(70, 201, 58, 0.096);
  border-color: red;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: #2e825c;
}
