<div class="row">
  <h4 class="agm-page-tittle">
    App by AGM-Develop
  </h4>
</div>
<div class="row agm-box">
  <div class="col-12 pt-4 pl-4 pb-2 pr-4">
    <b>
      Descripción:
    </b>
    <p class="pt-2">
      App/Template desarrollado al no encontrar templates bonitos basados en bootstrap, y los que hay están muy caros, así que yo mismo me lo voy a crear junnn.
    </p>
  </div>
  <div class="col-12 pl-4 pb-2 pr-4">
    <b>
      Dependencias:
    </b>
    <p class="pt-2">
      <li>
        ng-bootstrap <code class="pl-3">ng add @ng-bootstrap/ng-bootstrap</code>
      </li>
      <li>
        ng-sidebar <code class="pl-3">npm install --save ng-sidebar</code>
      </li>
      <li>
        xng-breadcrumb <code class="pl-3">npm install --save xng-breadcrumb</code>
      </li>
    </p>
  </div>

  <div *ngIf="showAlerts" class="col-12 pl-4 pb-2 pr-4">
    <ngb-alert class="alert-agm alert-agm-success"  type="success" (close)="close()"  [dismissible]="false">
      <b>
        Notificación
      </b>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis eaque sed harum quod nisi iste iure aspernatur fugit officiis libero consequuntur, ab provident, vel neque animi beatae numquam at vitae.</p>
    </ngb-alert>

    <ngb-alert class="alert-agm alert-agm-danger"  type="danger" (close)="close()"  [dismissible]="false">
      <b>
        ¡Atención!
      </b>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis eaque sed harum quod nisi iste iure aspernatur fugit officiis libero consequuntur, ab provident, vel neque animi beatae numquam at vitae.</p>
    </ngb-alert>

    <ngb-alert class="alert-agm alert-agm-warning"  type="warning" (close)="close()"  [dismissible]="false">
      <b>
        Recuerda
      </b>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis eaque sed harum quod nisi iste iure aspernatur fugit officiis libero consequuntur, ab provident, vel neque animi beatae numquam at vitae.</p>
    </ngb-alert>

    <ngb-alert class="alert-agm alert-agm-primary"  type="primary" (close)="close()"  [dismissible]="false">
      <b>
        Información
      </b>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis eaque sed harum quod nisi iste iure aspernatur fugit officiis libero consequuntur, ab provident, vel neque animi beatae numquam at vitae.</p>
    </ngb-alert>


    <button class="btn btn-primary">
      Andrés
    </button>
  </div>

</div>
