/* You can add global styles to this file, and also import other style files */
@import "agm_custom";

$theme-colors: (
  primary: $primaryColor,
  success: $succesBackGround
);

@import "~bootstrap/scss/bootstrap";

body {
  height: 100vh;
  background-color: #ecf0fa;
  font-family: "Poppins", sans-serif;
}

span.active,
i.active,
a.active,
p.active {
  color: $primary !important;
}

.hover-primary:hover {
  color: $primaryColor;
  cursor: pointer;
}

.ng-sidebar {
  background-color: #fff;
  box-shadow: 1px -1px 2px 0 #0000000d, -2px -2px 0px 0px #cccccc82,
    -1px 6px 5px 0px #ffffff00;
  //background-color: red;
  // margin-top: 35px;
}

aside.ng-sidebar {
  z-index: 10 !important;
}

.ng-sidebar--closed {
  i {
    float: right;
  }
}

.agm-box {
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0 1px 13px 0px rgb(0 0 0 / 10%);
}

//************ BUTTONS ***********//
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn{
  border-radius: 00.3rem;

}

.btn-success {
  color: #fff;
  border-color: $succesBackGround;
  // &:focus {
  //   background-color: $succesBackGround;
  //   border-color: transparent;
  //   box-shadow: none;
  // }
}

//------------------- ALERTS ---------------------//

.alert-agm {
  padding: 1rem;
  border-left-width: 0.15rem;
  border-left-style: solid;
  margin: 1rem 0;
  border-right: none;
  border-top: none;
  border-bottom: none;
  p {
    margin-bottom: 0;
  }
}

.alert-agm-success {
  background-color: rgba(70, 201, 58, 0.096);
  border-color: $greenBorders;
  color: #2e825c;
}

.alert-agm-danger {
  background-color: rgba(255, 71, 87, 0.096);
  border-color: $redBorders;
  color: $redColor;
}

.alert-agm-primary {
  background-color: rgba(58, 180, 201, 0.096);
  border-color: $primaryBorder;
  color: $primaryColor;
}

.alert-agm-warning {
  background-color: rgba(255, 186, 0, 0.096);
  border-color: $warnBorders;
  color: $warnColor;
}
.cursor-p {
  cursor: pointer;
}

h4.agm-page-tittle {
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0;
}
p {
  font-size: 0.9rem;
}

h5.agm-page-section-titlle {
  font-weight: 500;
  margin-top: 1.2rem;
  padding-bottom: 1rem;
}
// *************** BreadCrumbStyles *****************//

label.xng-breadcrumb-trail {
  margin-bottom: 0 !important;
  font-weight: 600;
}

a.xng-breadcrumb-link:hover {
  color: $primaryColor;
}

.xng-breadcrumb-list {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 13px;
  margin-bottom: 10px !important;
}

// **************** TOAST ******************** //
.toast {
  border-radius: 0.3rem;
  font-weight: 600 !important;
  border-left-width: 0.22rem;
  border-left-style: solid;
}

ngb-toast.toast.bg-success-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $greenBorders !important;
  i {
    color: $greenBorders !important;
  }
}


ngb-toast.toast.bg-danger-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $redBorders !important;
  i {
    color: $redBorders !important;
  }
}

ngb-toast.toast.bg-primary-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $primaryBorder !important;
  i {
    color: $primaryBorder !important;
  }
}

ngb-toast.toast.bg-warning-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $warnBorders !important;
  i {
    color: $warnBorders !important;
  }
}


ngb-toast.toast.bg-success {
  // background-color: #3bca2e  !important;
  background-color: $greenBorders !important;
  color: white !important;
  border-color: $greenBorders !important;
  i {
    color: $white !important;
  }
}


ngb-toast.toast.bg-danger {
  // background-color: #3bca2e  !important;
  background-color: $redBorders !important;
  color: white !important;
  border-color: $redBorders !important;
  i {
    color: white !important;
  }
}

ngb-toast.toast.bg-primary {
  // background-color: #3bca2e  !important;
  background-color: $primary !important;
  color: white !important;
  border-color: $primary !important;
  i {
    color: white !important;
  }
}

ngb-toast.toast.bg-warning {
  // background-color: #3bca2e  !important;
  background-color: $warnBorders !important;
  color: white !important;
  border-color: $warnBorders !important;
  i {
    color: white !important;
  }
}
