/* You can add global styles to this file, and also import other style files */
@import "agm_custom";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

$theme-colors: (
  primary: $primary,
  success: $succesBackGround,
);



@import "~bootstrap/scss/bootstrap";

//********** Global TAGS *********//

body {
  height: 100vh;
  background-color: #f1f5f9;
  font-family: 'Inter', sans-serif;
  // -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
}

span.active,
i.active,
a.active,
p.active {
  color: $primary-active !important;
}



.hover-primary:hover {
  color: $primary;
  cursor: pointer;
}

/***** SCROLL BARR ********/

/* width */
::-webkit-scrollbar {
  width: 10px;
	background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 1px 13px 0px rgb(0 0 0 / 10%);
  -webkit-box-shadow:0 1px 13px 0px rgb(0 0 0 / 10%);
	background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:$gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #70027e7c;
}

/************ MATERIAL ICONS **************/
.material-icons{
  display: inherit;
  vertical-align:middle;
}
.icon-spin{
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

// ********* SIDEBAR ***********//

.ng-sidebar {
  color: white;
  // background-color: #37474F;
  background-color: #2b4055;
  box-shadow: 1px -1px 2px 0 #0000000d, -2px -2px 0px 0px #cccccc82,
    -1px 6px 5px 0px #ffffff00;
  //background-color: red;
  // margin-top: 35px;
}

aside.ng-sidebar {
  z-index: 10 !important;
}
span.brand-expand{
  display: none;
}

.ng-sidebar--closed {
  i {
    float: right;
  }

  span.brand-expand{
    display: flex;
    float: right;
    padding-right: 12px;
  }

  span.brand-expand-off{
    display: none;
  }
}


///************* AGM *****************///
.agm-shadow{
  --tw-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f!important;
}

.agm-box {
  background-color: #fff;
  border-radius: 1rem;
  // box-shadow: 0 1px 13px 0px rgb(0 0 0 / 10%);
  --tw-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f!important;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important;
    /* This section calls the slideInFromLeft animation we defined above */

}

section.page{
  animation: 0.2s ease-out 0s 1 slideInFromLeft;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}


.agm-box-rect{
  background-color: #fff;
  // box-shadow: 0 1px 13px 0px rgb(0 0 0 / 10%);
  --tw-shadow: 0 1px 3px 0 #0000001a,0 1px 2px 0 #0000000f!important;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important;
}

//************ BUTTONS ***********//

.btn {
  box-shadow: 0 0 0 0 #0003, 0 0 0 0 #00000024,0 0 0 0 #0000001f;
  border-radius: 5rem;
  padding: 12px 18px;
  line-height: 1!important;
  font-size: .875rem;
  font-weight: 500;
  position: relative;
  &:active, &:focus{
    border-color: transparent  !important;
    box-shadow: none !important;
  }
}

.btn-default{
  border: 1px solid rgb(163, 163, 163) !important;
  &:hover{
    background-color: #929c9c4f;
  }
}


.btn[disabled]{
  cursor:not-allowed;
}

.btn-ripple {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.btn-ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.btn-ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}


//------------------- ALERTS ---------------------//

.alert-agm {
  padding: 1rem;
  border-left-width: 0.15rem;
  border-left-style: solid;
  margin: 1rem 0;
  border-right: none;
  border-top: none;
  border-bottom: none;
  p {
    margin-bottom: 0;
  }
}

.alert-agm-success {
  background-color: rgba(70, 201, 58, 0.096);
  border-color: $greenBorders;
  color: #2e825c;
}

.alert-agm-danger {
  background-color: rgba(255, 71, 87, 0.096);
  border-color: $redBorders;
  color: $redColor;
}

.alert-agm-primary {
  background-color: rgba(58, 180, 201, 0.096);
  border-color: $primaryBorder;
  color: $primary;
}

.alert-agm-warning {
  background-color: rgba(255, 186, 0, 0.096);
  border-color: $warnBorders;
  color: $warnColor;
}
.cursor-p {
  cursor: pointer;
}

h4.agm-page-tittle {
  font-weight: 600;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
  padding-left: 0;
}
p {
  font-size: 0.9rem;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 0.8rem;
  }
}

h5.agm-page-section-titlle {
  font-weight: 500;
  margin-top: 1.2rem;
  padding-bottom: 1rem;
}
// *************** BreadCrumbStyles *****************//

label.xng-breadcrumb-trail {
  margin-bottom: 0 !important;
  font-weight: 600;
}

a.xng-breadcrumb-link:hover {
  color: $primary;
}

.xng-breadcrumb-list {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 13px;
  margin-bottom: 4px !important;
}

// **************** TOAST ******************** //
.toast {
  border-radius: 1rem;
  font-weight: 600 !important;
  border-left-width: 0.22rem;
  border-left-style: solid;
}

ngb-toast.toast.bg-success-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $greenBorders !important;
  i {
    color: $greenBorders !important;
  }
}

ngb-toast.toast.bg-danger-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $redBorders !important;
  i {
    color: $redBorders !important;
  }
}

ngb-toast.toast.bg-primary-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $primaryBorder !important;
  i {
    color: $primaryBorder !important;
  }
}

ngb-toast.toast.bg-warning-light {
  // background-color: #3bca2e  !important;
  background-color: white !important;
  color: black !important;
  border-color: $warnBorders !important;
  i {
    color: $warnBorders !important;
  }
}

ngb-toast.toast.bg-success {
  // background-color: #3bca2e  !important;
  background-color: $greenBorders !important;
  color: white !important;
  border-color: $greenBorders !important;
  i {
    color: $white !important;
  }
}

ngb-toast.toast.bg-danger {
  // background-color: #3bca2e  !important;
  background-color: $redBorders !important;
  color: white !important;
  border-color: $redBorders !important;
  i {
    color: white !important;
  }
}

ngb-toast.toast.bg-primary {
  // background-color: #3bca2e  !important;
  background-color: $primary !important;
  color: white !important;
  border-color: $primary !important;
  i {
    color: white !important;
  }
}

ngb-toast.toast.bg-warning {
  // background-color: #3bca2e  !important;
  background-color: $warnBorders !important;
  color: white !important;
  border-color: $warnBorders !important;
  i {
    color: white !important;
  }
}

//******** MODAL *********//
/* ANIMACIÖN */
.modal-content {
  border-radius: 0.6rem;
}

.agm-modal-backdrop {
  background-color: #7f8b8e;
  opacity: 0.85;
}
.modal-dialog {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.modal-holder {
  animation-name: modalHolderOn;
  animation-duration: 0.2s;
}


//************** ngx-datatable ***************//
.datatable-header-inner {
  padding: 0.75rem;
  max-width: 100% !important;
  background-color:#f1f5f9 ;
  font-size: 17px;
  font-weight: bold;
}


.ngx-datatable{
  border: 1px solid #0000001c;
  border-radius: 1rem !important;
  font-size: 14px;

  .page-count{
    padding-left: 1rem;
    font-weight: bold;
  }

  li.pages{
    border-radius: 0.7rem;
    padding:0.6rem  1rem !important;
    a{
      color: #979797;
    }
    &.pages.active{
      font-weight: bold;
      background-color: #23b99642 ;
      a{
        color: $primary-active !important;
      }
    }
  }

}
.datatable-body-cell{
  padding: 0.75rem;
}

//************** ANIMACIONES *************///
@keyframes modalHolderOn {
  0% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(850deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(850deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(850deg); transform:rotate(850deg); }}
